* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: aliceblue;
  background-color: #232323;
}

.img-logo {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 40px;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.img-letters {
  justify-self: center;
  width: 45%;
  height: auto;
}

h4 {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 44px;
  margin-bottom: 44px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
