<div
  class="rounded-full bg-gradient-to-r from-sky-600 w-4 h-4 flex items-center justify-center progress rotate-anim"
>
  <div class="bg-zinc-950 w-3 h-3 rounded-full"></div>
</div>
<style>
  .progress {
    animation: rotate-anim 0.5s linear infinite;
  }

  @keyframes rotate-anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
