---
export interface Props {
  isPair: boolean;
}

const { isPair } = Astro.props;
---

{
  isPair ? (
    <div class="js-show-on-scroll bg-zinc-600 bg-opacity-20 h-[32rem] rounded-md relative inline-block p-6 overflow-hidden opacity-0  translate-y-8 max-[889px]:translate-y-0">
      <slot />
    </div>
  ) : (
    <div class="js-show-on-scroll bg-zinc-600 bg-opacity-20 h-[32rem] rounded-md relative inline-block p-6 overflow-hidden opacity-0 ">
      <slot />
    </div>
  )
}
